<div class="container-fluid">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <div class="card crd1 shadow-lg">
                <div class="card-header textYellow">
                    User Name
                </div>
                <img class="card-img-top rounded-circle" src="/assets/img/male-placeholder-image.jpeg"
                    alt="male-placeholder-image">
                <div class="card-body">
                    <h5 class="card-title textYellow">USER INFO</h5>
                    <p class="card-text" id="name"><strong>Name:</strong> John Doe</p>
                    <p class="card-text" id="age"><strong>Age:</strong> 35</p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <div class="card crd2 shadow-lg">
                <div class="card-header">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active textYellow" id="walk-tab" data-toggle="tab" href="#walk"
                                role="tab" aria-controls="walk" aria-selected="true">Walking Challenge</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="walk" role="tabpanel" aria-labelledby="walk-tab">
                            <div class="tab-pane fade show active" id="walk" role="tabpanel" aria-labelledby="walk-tab">
                            <p class="card-text" id="goal"><strong>Goal:</strong></p>
                            <p class="card-text" id="duration"><strong>Duration:</strong> </p>
                            <p class="card-text" id="miles"><strong>Miles:</strong></p>
                            <p class="card-text" id="steps"><strong>Steps:</strong> </p>
                            <div class="row justify-content-center">
                                <button type="button" class="btn btn-warning">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>